<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdedevelop.mediani.adapter.out.group.mybatis.GroupMyBatisRepository">
    <resultMap id="groupResultMap" type="GroupMyBatisEntity">
        <id property="id" column="group_id"/>
        <result property="name" column="group_name"/>
    </resultMap>

    <!-- CREATE -->
    <insert id="create" parameterType="GroupMyBatisEntity">
        INSERT INTO `group` (id, name)
        VALUES (#{group.id}, #{group.name})
    </insert>

    <!-- READ by ID -->
    <select id="readById" resultMap="groupResultMap" parameterType="long">
        SELECT id as group_id, name as group_name
        FROM `group`
        WHERE id = #{id}
    </select>

    <!-- READ by NAME -->
    <select id="readByName" resultMap="groupResultMap" parameterType="String">
        SELECT id as group_id, name as group_name
        FROM `group`
        WHERE name LIKE #{name}
    </select>

    <!-- READ first by order desc -->
    <select id="readFirstByOrderByIdDesc" resultMap="groupResultMap">
        SELECT id as group_id, name as group_name
        FROM `group`
        ORDER BY id DESC
            LIMIT 1
    </select>

    <!-- READ by name containing with pageable -->
    <select id="readByNameContaining" resultMap="groupResultMap">
        SELECT id as group_id, name as group_name
        FROM `group`
        WHERE name LIKE CONCAT('%', #{name}, '%')
        ORDER BY id
        <if test="page != null">
            LIMIT #{page.pageSize} OFFSET #{page.offset}
        </if>
    </select>

    <!-- COUNT all -->
    <select id="countAll" resultType="long">
        SELECT COUNT(*)
        FROM `group`
    </select>

    <!-- UPDATE -->
    <update id="update" parameterType="GroupMyBatisEntity">
        UPDATE `group`
        SET name = #{group.name}
        WHERE id = #{group.id}
    </update>

    <!-- DELETE -->
    <delete id="delete" parameterType="long">
        DELETE FROM `group`
        WHERE id = #{id}
    </delete>
</mapper>