<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdedevelop.mediani.adapter.out.media.mybatis.MediaMyBatisRepository">
    <resultMap id="mediaResultMap" type="MediaMyBatisEntity">
        <id property="id" column="media_id"/>
        <result property="cover" column="media_cover"/>
        <result property="title" column="media_title"/>
        <result property="createdAt" column="media_create_at"/>
        <result property="updatedAt" column="media_update_at"/>
        <association property="type" resultMap="com.kdedevelop.mediani.adapter.out.type.mybatis.TypeMyBatisRepository.typeResultMap"/>
        <association property="language" resultMap="com.kdedevelop.mediani.adapter.out.language.mybatis.LanguageMyBatisRepository.languageResultMap"/>
        <collection property="character" ofType="CharacterMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.character.mybatis.CharacterMyBatisRepository.characterResultMap"/>
        <collection property="creator" ofType="CreatorMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.creator.mybatis.CreatorMyBatisRepository.creatorResultMap"/>
        <collection property="group" ofType="GroupMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.group.mybatis.GroupMyBatisRepository.groupResultMap"/>
        <collection property="producer" ofType="ProducerMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.producer.mybatis.ProducerMyBatisRepository.producerResultMap"/>
        <collection property="series" ofType="SeriesMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.series.mybatis.SeriesMyBatisRepository.seriesResultMap"/>
        <collection property="tag" ofType="TagMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.tag.mybatis.TagMyBatisRepository.tagResultMap"/>
    </resultMap>
    <!-- Media CRUD -->

    <!-- Create -->
    <insert id="create" parameterType="MediaMyBatisEntity">
        INSERT INTO `media` (
            `id`,
            `cover`,
            `title`,
            `created_at`,
            `updated_at`,
            `type_id`,
            `language_id`
        ) VALUES (
                     #{id},
                     #{cover},
                     #{title},
                     #{createdAt},
                     #{updatedAt},
                     #{type.id},
                     #{language.id}
                 )
    </insert>

    <!-- Read -->
    <select id="read" parameterType="map" resultMap="mediaResultMap">
        SELECT
            m.`id` AS media_id,
            m.`cover` AS media_cover,
            m.`title` AS media_title,
            m.`created_at` AS media_create_at,
            m.`updated_at` AS media_update_at,
            -- Type association
            t.`id` AS type_id,
            t.`name` AS type_name,
            -- Language association
            l.`id` AS language_id,
            l.`name` AS language_name,
            -- Character collection
            c.`id` AS character_id,
            c.`name` AS character_name,
            -- Creator collection
            cr.`id` AS creator_id,
            cr.`name` AS creator_name,
            -- Group collection
            g.`id` AS group_id,
            g.`name` AS group_name,
            -- Producer collection
            p.`id` AS producer_id,
            p.`name` AS producer_name,
            -- Series collection
            s.`id` AS series_id,
            s.`name` AS series_name,
            -- Tag collection
            tg.`id` AS tag_id,
            tg.`name` AS tag_name
        FROM `media` m
                 INNER JOIN `type` t ON m.`type_id` = t.`id`
                 INNER JOIN `language` l ON m.`language_id` = l.`id`

                 LEFT JOIN `media_character` mc
                           ON m.`id` = mc.`media_id` AND m.`type_id` = mc.`type_id`
                 LEFT JOIN `character` c ON mc.`character_id` = c.`id`

                 LEFT JOIN `media_creator` mcr
                           ON m.`id` = mcr.`media_id` AND m.`type_id` = mcr.`type_id`
                 LEFT JOIN `creator` cr ON mcr.`creator_id` = cr.`id`

                 LEFT JOIN `media_group` mg
                           ON m.`id` = mg.`media_id` AND m.`type_id` = mg.`type_id`
                 LEFT JOIN `group` g ON mg.`group_id` = g.`id`

                 LEFT JOIN `media_producer` mp
                           ON m.`id` = mp.`media_id` AND m.`type_id` = mp.`type_id`
                 LEFT JOIN `producer` p ON mp.`producer_id` = p.`id`

                 LEFT JOIN `media_series` ms
                           ON m.`id` = ms.`media_id` AND m.`type_id` = ms.`type_id`
                 LEFT JOIN `series` s ON ms.`series_id` = s.`id`

                 LEFT JOIN `media_tag` mt
                           ON m.`id` = mt.`media_id` AND m.`type_id` = mt.`type_id`
                 LEFT JOIN `tag` tg ON mt.`tag_id` = tg.`id`

        WHERE m.`id` = #{mediaId} AND m.`type_id` = #{typeId}
    </select>

    <!-- Update -->
    <update id="update" parameterType="MediaMyBatisEntity">
        UPDATE `media`
        SET
            `cover` = #{cover},
            `title` = #{title},
            `updated_at` = #{updatedAt},
            `type_id` = #{type.id},
            `language_id` = #{language.id}
        WHERE `id` = #{id} AND `type_id` = #{type.id}
    </update>

    <!-- Delete -->
    <delete id="delete" parameterType="map">
        DELETE FROM `media`
        WHERE `id` = #{mediaId} AND `type_id` = #{typeId}
    </delete>
</mapper>