<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdedevelop.mediani.adapter.out.media.mybatis.MediaMyBatisRepository">
    <resultMap id="mediaResultMap" type="MediaMyBatisEntity">
        <id property="id" column="media_id"/>
        <result property="cover" column="media_cover"/>
        <result property="title" column="media_title"/>
        <result property="description" column="media_description"/>
        <result property="createdAt" column="media_create_at"/>
        <result property="updatedAt" column="media_update_at"/>
        <association property="type" resultMap="com.kdedevelop.mediani.adapter.out.type.mybatis.TypeMyBatisRepository.typeResultMap"/>
        <association property="language" resultMap="com.kdedevelop.mediani.adapter.out.language.mybatis.LanguageMyBatisRepository.languageResultMap"/>
        <collection property="character" ofType="CharacterMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.character.mybatis.CharacterMyBatisRepository.characterResultMap"/>
        <collection property="creator" ofType="CreatorMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.creator.mybatis.CreatorMyBatisRepository.creatorResultMap"/>
        <collection property="group" ofType="GroupMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.group.mybatis.GroupMyBatisRepository.groupResultMap"/>
        <collection property="producer" ofType="ProducerMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.producer.mybatis.ProducerMyBatisRepository.producerResultMap"/>
        <collection property="series" ofType="SeriesMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.series.mybatis.SeriesMyBatisRepository.seriesResultMap"/>
        <collection property="tag" ofType="TagMyBatisEntity" resultMap="com.kdedevelop.mediani.adapter.out.tag.mybatis.TagMyBatisRepository.tagResultMap"/>
    </resultMap>
    <!-- Media CRUD -->

    <!-- Create -->
    <insert id="create" parameterType="MediaMyBatisEntity">
        INSERT INTO `media` (
            `id`,
            `cover`,
            `title`,
            `description`,
            `created_at`,
            `updated_at`,
            `type_id`,
            `language_id`
        ) VALUES (
             #{id},
             #{cover},
             #{title},
             #{description},
             #{createdAt},
             #{updatedAt},
             #{type.id},
             #{language.id}
                 )
    </insert>

    <!-- Read -->
    <select id="read" parameterType="map" resultMap="mediaResultMap">
        SELECT `media`.`id`          AS media_id,
               `media`.`cover`       AS media_cover,
               `media`.`title`       AS media_title,
               `media`.`description` AS media_description,
               `media`.`created_at`  AS media_create_at,
               `media`.`updated_at`  AS media_update_at,
               -- Type association
               `type`.`id`            AS type_id,
               `type`.`name`          AS type_name,
               -- Language association
               `language`.`id`       AS language_id,
               `language`.`name`     AS language_name,
               -- Character collection
               `character`.`id`      AS character_id,
               `character`.`name`    AS character_name,
               -- Creator collection
               `creator`.`id`        AS creator_id,
               `creator`.`name`      AS creator_name,
               -- Group collection
               `group`.`id`          AS group_id,
               `group`.`name`        AS group_name,
               -- Producer collection
               `producer`.`id`       AS producer_id,
               `producer`.`name`     AS producer_name,
               -- Series collection
               `series`.`id`         AS series_id,
               `series`.`name`       AS series_name,
               -- Tag collection
               `tag`.`id`            AS tag_id,
               `tag`.`name`          AS tag_name
        FROM `media`
                 INNER JOIN `type` ON `media`.`type_id` = `type`.`id`
                 INNER JOIN `language` ON `media`.`language_id` = `language`.`id`

                 LEFT JOIN `media_character` mc
                           ON `media`.`id` = mc.`media_id` AND `media`.`type_id` = mc.`type_id`
                 LEFT JOIN `character` ON mc.`character_id` = `character`.`id`

                 LEFT JOIN `media_creator` mcr
                           ON `media`.`id` = mcr.`media_id` AND `media`.`type_id` = mcr.`type_id`
                 LEFT JOIN `creator` ON mcr.`creator_id` = `creator`.`id`

                 LEFT JOIN `media_group` mg
                           ON `media`.`id` = mg.`media_id` AND `media`.`type_id` = mg.`type_id`
                 LEFT JOIN `group` ON mg.`group_id` = `group`.`id`

                 LEFT JOIN `media_producer` mp
                           ON `media`.`id` = mp.`media_id` AND `media`.`type_id` = mp.`type_id`
                 LEFT JOIN `producer` ON mp.`producer_id` = `producer`.`id`

                 LEFT JOIN `media_series` ms
                           ON `media`.`id` = ms.`media_id` AND `media`.`type_id` = ms.`type_id`
                 LEFT JOIN `series` ON ms.`series_id` = `series`.`id`

                 LEFT JOIN `media_tag` mt
                           ON `media`.`id` = mt.`media_id` AND `media`.`type_id` = mt.`type_id`
                 LEFT JOIN `tag` ON mt.`tag_id` = `tag`.`id`

        WHERE `media`.`id` = #{mediaId}
          AND `media`.`type_id` = #{typeId}
    </select>

    <!-- Update -->
    <update id="update" parameterType="MediaMyBatisEntity">
        UPDATE `media`
        SET
            `cover` = #{cover},
            `title` = #{title},
            `description` = #{description},
            `updated_at` = #{updatedAt},
            `type_id` = #{type.id},
            `language_id` = #{language.id}
        WHERE `id` = #{id} AND `type_id` = #{type.id}
    </update>

    <!-- Delete -->
    <delete id="delete" parameterType="map">
        DELETE FROM `media`
        WHERE `id` = #{mediaId} AND `type_id` = #{typeId}
    </delete>
</mapper>