<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.kdedevelop.mediani.adapter.out.character.mybatis"/>
        <package name="com.kdedevelop.mediani.adapter.out.creator.mybatis"/>
        <package name="com.kdedevelop.mediani.adapter.out.group.mybatis"/>
        <package name="com.kdedevelop.mediani.adapter.out.language.mybatis"/>
        <package name="com.kdedevelop.mediani.adapter.out.media.mybatis"/>
        <package name="com.kdedevelop.mediani.adapter.out.producer.mybatis"/>
        <package name="com.kdedevelop.mediani.adapter.out.series.mybatis"/>
        <package name="com.kdedevelop.mediani.adapter.out.tag.mybatis"/>
        <package name="com.kdedevelop.mediani.adapter.out.type.mybatis"/>
        <package name="com.kdedevelop.mediani.adapter.out.user.mybatis"/>
    </typeAliases>
</configuration>
