<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdedevelop.mediani.media.adapter.out.mybatis.relationship.MediaSeriesMyBatisRelationshipRepository">
    <!-- CREATE -->
    <insert id="create">
        INSERT INTO `media_series` (type_id, media_id, series_id)
        VALUES (#{item.typeId}, #{item.mediaId}, #{item.seriesId})
    </insert>

    <!-- CREATE ALL -->
    <insert id="createAll">
        INSERT INTO `media_series` (type_id, media_id, series_id)
        VALUES
        <foreach collection="key" item="item" separator=",">
            (#{item.typeId}, #{item.mediaId}, #{item.seriesId})
        </foreach>
    </insert>

    <!-- DELETE -->
    <delete id="delete">
        DELETE FROM `media_series`
        WHERE type_id = #{key.typeId} AND media_id = #{key.mediaId} AND series_id = #{key.seriesId}
    </delete>
</mapper>